/* css for register.html */
body{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-image: url(../images/log.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.reg-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.regtab{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: fit-content;
    background:white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgb(16, 16, 17);
}   
th{
    padding: 15px;

}
input[type=submit]{
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    background: rgb(10, 151, 33);
    color: #fff;
    cursor: pointer;
    transition: .7s;
}
input[type=submit]:hover{
    transform: scale(1.1);
    opacity: .6;
}
input[type=reset]{
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    background: rgb(10, 151, 33);
    color: #fff;
    cursor: pointer;
    transition: .7s;
}
input[type=reset]:hover{
    transform: scale(1.1);
    opacity: .6;
}
input[type=text]:hover{
    transform: scale(1.1);
    opacity: .6;
}
h1{
    font-weight: bold;
    color: blue;

}